*{
	margin: 0;
}
body, html{
	font-family: 'Josefin Slab', serif;
	font-weight:400;
	color:#666;
}
h1{
	font-size:3.5em;
}
h2{
	font-size:2.2em;
}
h4{
	font-weight:bold;
}
.header-divider::after{
    content: "";
    width: 50px;
    border-bottom: 1px solid #ccc;
    margin: 20px auto 0;
	display: block;
}
p{
	margin:1em auto;
	font-family: 'Times New Roman', Times, serif;
	max-width:800px;
}
p, label{
	font-size:1.2em;
	line-height: 1.5em;
}
p.large{
	font-size:1.6em;
	line-height: 1.7em;
}
label{
	padding:0 1em;
}
a, a:visited{
	color: #66cc99;
	transition: color 0.4s;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color:  #339966;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
.center-all{
  /*display:-ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-direction: column;
  display:-webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;*/
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
}
.full-width{
	width:100%;
}
.full-height{
	min-height:100vh;
}
.half-height{
	min-height:70vh;
}
section{
	padding:3em 0;
}
.section-top-padder{
	padding-top:3em;
}
.scroll-reveal{
	opacity:0;
	transform: translateY(-50px);
}
.scroll-reveal.revealed{
	transition: opacity 1s, transform 1s;
	opacity: 1;
	transform: translateY(0);
}
.wrapper{
	padding:3em 0 0;
}
.clear-both{
	clear: both;
}
/* Header */
.header{
	width:100%;
	background-color: transparent;
	padding:1em;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 1;
	transition: all 0.4s;
}
.header-item{
	padding:0 1em;
	display: inline-block;
	font-size: 1.3em;
	font-weight: bold;
	color:#fff;
	transition: all 0.2s;
}
.header-item:hover{
	color:#ccc;
	text-decoration: none;
	cursor: pointer;
}
.header-logo{
	padding:0 1em;
	width:80px;
	display: inline-block;
	vertical-align: middle;
	transition: all 0.4s;
	cursor: pointer;
}
.header-logo svg{
	float:left;
}
.header-logo path{
	fill: #fff;
	transition: all 0.2s;
}
.header-mobile-icon{
	position: absolute;
	top:13px;
	left:15px;
	color:#666;
	font-size:20px;
	z-index:2;
}
.header-mobile-overlay{
	position:fixed;
	background:rgba(255,255,255,1);
	height:100%;
	width:100%;
	top:0;
	left:0;
	display: table;
}
.header-mobile-overlay .h2{
	margin:1em 0;
	display: block;
}
.header-mobile-overlay-container{
	display:table-cell;
	vertical-align: middle;
}
.rsvp-button{
	position: absolute;
	right: 2em;
	top:1.7em;
	vertical-align: middle;
	transition: top .4s;
	font-weight: bold;
	color:#666;
}


/* Banner */
.banner-image{
	width:100%;
	background: #333 center center no-repeat;
	background-size:cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner-overlay-image{
	width:45%;
	margin:auto;
}
.banner-overlay-image svg{
	width:100%;
}
.banner-subtext{
	position: absolute;
	bottom:5%;
	left:0;
	right:0;
	font-weight: bolder;
	color:#fff;
}

/* Portfolio */
.portfolio-img{
	width:100%;
	margin-bottom:30px;
}

/* Map */
#swiss-map, .map-img {
	height:400px;
	width:100%;
}
.map-img{
	background: url(../img/schloss.jpg) center center no-repeat;
	background-size: cover;
}

.gm-style-iw a {
	color: #4272db;
}

/* Timeline */
.timeline{
	position: relative;
}
.timeline::before{
	content: "";
	position: absolute;
	height: 100%;
	left:50%;
	top:3em;
	border-left:1px solid #ccc;
	z-index:-1;
}
.timeline-header{
	background: #fff;
	padding:10px;
	margin: 1em 0;
}
.timeline-left, .timeline-right{
	position: relative;
	margin-bottom:10px;
}
.timeline-left .timeline-icon, .timeline-right .timeline-icon{
	position: absolute;
	height:30px;
	width:30px;
	font-size:20px;
	padding:0.2em;
	background: #ffffff;
	color: #339966;
	border-radius: 50%;
	top:0;
	bottom:0;
	margin:auto;
}
.timeline-left .timeline-icon{
	right:-15px;
}
.timeline-right .timeline-icon{
	left:-15px;
}
.timeline-time{
	position: absolute;
	height:15px;
	top:0;
	bottom:0;
	margin:auto;
}
.timeline-left .timeline-time{
	right:-85px;
}
.timeline-right .timeline-time{
	left:-85px;
}
.timeline .rounded-panel{
	margin:0 10px;
}
.timeline p{
	margin:0;
}

/* Other */
.rounded-panel{
	padding: 25px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.local-info{
	padding:15px;
}
.local-info-description{
	max-width: 750px;
	padding-bottom: 1em;
	margin:auto;
}
.local-info-link{
	padding:0 5px;
}
.row.match-my-cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row.match-my-cols > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.row.match-my-cols > [class*='col-']>* {
 height:100%;
}

/* Footer*/
.footer{
	background: #339966;
	color:#fff;
	padding: 25px;
	text-align: center;
}
.footer a{
	color: #fff;
}

/* Responsive Style */
@media screen and (min-width: 1100px){
	.scrolled.header{
	background-color: #fff;
	}
	.scrolled .header-item{
		color:#666;
	}
	.scrolled .header-item:hover{
		color:#888;
	}
	.scrolled .header-logo{
		width:60px;
	}
	.scrolled .header-logo path{
		fill:#666;
	}
	.scrolled .rsvp-button{
		top:1em;
	}
	.header-mobile-icon{
		display:none;
	}
}
@media screen and (max-width: 767px){
	.timeline::before{
		display: none;
	}
	.timeline-icon{
		position: static !important;
	}
}
@media screen and (max-width: 1099px){
	.banner-subtext{
		font-size:25px;
	}
	.banner-overlay-image{
		width:85%;
	}

	/* Header */
	.header-item{
		display: none;
	}
	.header-logo{
		width:60px;
	}
	.header-logo path{
		fill: #666;
	}
	.header{
		background: #fff;
		padding:0.5em;
	}
	.rsvp-button{
		font-size:11px;
		top:9px;
		right:15px;
	}

}



