<header class="header" ng-class="{scrolled: showHeader}">
    <a class="header-item" ng-click="scrollTo('story')">Our Story</a>
    <a class="header-item" ng-click="scrollTo('engagement')">Engagement</a>
    <a class="header-item" ng-click="scrollTo('venue')">Venue &amp; Location</a>
    <a class="header-logo" ng-click="scrollTo('top')" ng-include="'img/logo-small.svg'"></a>
    <a class="header-item" ng-click="scrollTo('timeline')">Timeline</a>
    <a class="header-item" ng-click="scrollTo('info')">Transportation &amp; Accomodations</a>
    <a class="btn btn-default rsvp-button">RSVP</a>
</header>