<div class="text-left">
    <hr/>
    <div class="row form-group">
        <label class="col-sm-3 control-label" for="guest{{index}}">Guest {{index}} Name</label>
        <div class="col-sm-7 col-xs-10">
            <input type="text" class="form-control" ng-model="person.name" id="guest{{index}}">
        </div>
        <div class="col-xs-2"  ng-click="removeGuest(index)">
            <i class="green fa fa-trash fa-lg cursor-pointer" style="margin-top:0.6em"></i>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-sm-3 control-label">Meal Choice</label>
        <div class="col-sm-9">
            <label class="radio-inline">
                <input type="radio" ng-model="person.meal" value="Veal"> Veal
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="person.meal" value="Risotto"> Risotto (V)
            </label>
        </div>
    </div>
</div>