<menu></menu>
<div id="top" class="banner-image full-height" style="background-image:url(img/sarah-erik-hero.jpg)">
    <div class="text-center full-width">
        <div ng-include="'img/logo-large.svg'" scroll-reveal delay="500" class="banner-overlay-image"></div>
        <h2 scroll-reveal delay="700" class="banner-subtext">Interlaken, Switzerland &bull; June 20th, 2017</h2>
    </div>
</div>
<div class="wrapper">
    <!-- Our Story -->
    <section id="story" class="container  text-center"> 
        <div scroll-reveal>
            <h1 class="header-divider">We're Getting Married!</h1>
            <p class="large">We're tying the knot in beautiful Interlaken, Switzerland and we would love for you to join us in the celebration! </p>
            <h2 class="header-divider" style="margin-top:2em">Our Story</h2>
            <p>It all started with an introduction from our mutual friend (now Officiant!) Erik Redoute. Erik Redoute and Sarah met on their study abroad in Greece &amp; Turkey and became the best of friends. When they returned from abroad, Redoute introduced Sarah to his roommate, Erik Sundberg, and the adventures began!</p>
            <p>After months of friendship, we began dating on March 8th, 2011. After Sarah graduated from Michigan State University, we decided to move to Portland, Oregon to start a new adventure. This March will mark our 6 year anniversary.</p>
        </div>
    </section>
    <!-- Autumn Engagement -->
    <section class="large-top-padder">
        <div class="banner-image half-height" style="background-image:url(img/autumn-engagement.jpg)"></div>
    </section>
    <!-- Engagement -->
    <section id="engagement" class="container text-center">
         <div scroll-reveal>
            <h2 class="header-divider">Engagement</h2>
            <p>In December of 2014, Erik set his sole New Years resolution: propose to Sarah within the following year. Nearly 12 months later, he popped the question with just a few days to spare.</p>
            <p>On December 8th 2016, Erik told Sarah to pack an overnight bag for a surprise trip. We drove from Portland toward Mt. Hood, pulling off onto a side road that turned to a dirt road, and dead ended at a roaring river. In the dark, we crossed a rickety metal bridge with our luggage, and climbed a lit stairwell where a classic red Swedish cottage sat atop a hill. The next morning Erik brought Sarah breakfast in bed, but instead of food beneath the tray, it was a ring!</p>
        </div>
        <div class="row section-top-padder">
            <div class="col-sm-6">
                <img class="portfolio-img " scroll-reveal src="img/engagement/engagement-1.jpg"/>
                <img class="portfolio-img " scroll-reveal src="img/engagement/engagement-3.jpg"/>
                <img class="portfolio-img " scroll-reveal src="img/engagement/engagement-5.jpg"/>
                <img class="portfolio-img " scroll-reveal src="img/engagement/engagement-6.jpg"/>
            </div>
            <div class="col-sm-6">
                <img class="portfolio-img " scroll-reveal src="img/engagement/engagement-2.jpg"/>
                <img class="portfolio-img " scroll-reveal src="img/engagement/engagement-4.jpg"/>
                <img class="portfolio-img " scroll-reveal src="img/engagement/engagement-7.jpg"/>
            </div>
        </div>
    </section>
    <!-- Interlaken -->
    <section class="large-top-padder">
        <div class="banner-image half-height large-top-padder" style="background-image:url(img/swiss-lake.jpg)"></div>
    </section>
    <!-- Venue & Location -->
    <section id="venue" class="container text-center"> 
        <div scroll-reveal>
            <h2 class="header-divider">Venue &amp; Location</h2>
            <p>Travel in general has always been important to us both. Switzerland was one of the first places we traveled to together, and one of the few places to which we have returned. Combined with Erik's familial ties to the Swiss area and the natural beauty of the landscape, there seemed to be no better place for our wedding!</p>
            <p>The ceremony will take place at Schloss Oberhofen, a 13th century castle on the edge of Lake Thun. Guests will meet on the castle grounds at 4:30pm for a welcome champagne toast, with the ceremony following lakeside at 5:00pm.</p>
            <p>The reception will follow at a house in Ringgenberg, approximately a 30 min drive East of the ceremony site. Hors d'oeuvres and drinks will be served starting at 6:30pm with dinner at 7:00pm. Then drinking and dancing for the rest of the evening!</p>
            <h3 class="header-divider" style="margin-top:2em">Weather</h3>
            <p>The ceremony and reception will mostly take place outdoors. The weather in this area of Switzerland will range between mid-50's and low-70's (F) in temperature for this time of year. There is a chance of rain, and if it does we will be indoors for both the ceremony and reception.</p>
        
        </div>
        <div class="row section-top-padder" scroll-reveal>
            <div class="col-sm-6">
                <div class="map-img"></div>
            </div>
            <div class="col-sm-6">
                <div map></div>
            </div> 
        </div>
    </section>
    <!-- Timeline -->
    <section id="timeline" class="container text-center"> 
        <div scroll-reveal>
            <h2 class="header-divider">Timeline</h2>
        </div>
        <div class="timeline section-top-padder">
            <div ng-repeat="t in timeline">
                <h3 ng-if="t.type == 'header'" class="timeline-header" scroll-reveal>{{t.text}}</h3>
                <div ng-if="t.type == 'left'" class="row" scroll-reveal>
                    <div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-12 timeline-left">
                        <!--h4 class="timeline-time">{{t.time}}</h4-->
                        <div class="rounded-panel">
                            <div class="timeline-icon fa" ng-class="t.icon"></div>
                            <h4>{{t.time}}</h4>
                            <p>{{t.text}}</p>
                        </div>
                    </div>
                </div>
                <div ng-if="t.type == 'right'" class="row" scroll-reveal>
                    <div class="col-md-4 col-sm-6 col-sm-offset-6 col-xs-12 timeline-right">
                        <div class="rounded-panel">
                            <div class="timeline-icon fa" ng-class="t.icon"></div>
                            <h4>{{t.time}}</h4>
                            <p>{{t.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Transportation & Accomodations -->
    <section id="info" class="container text-center"> 
        <div scroll-reveal>
            <h2 class="header-divider">Transportation &amp; Accomodations</h2>
        </div>
        <div class="row section-top-padder" scroll-reveal>
            <div class="col-sm-12">
                <div class="rounded-panel">
                    <i class="fa fa-bed fa-lg"></i>
                    <h3 class="header-divider">Accomodations</h3>
                    <p class="local-info-description">The bride + groom and their wedding parties will be staying at the house in Rinngenberg. The city of Interlaken is between the ceremony and reception venues, and would make an ideal place to find accommodation. Here are a few options:</p>
                    <div class="row">
                        <div class="local-info col-md-4 col-sm-6" ng-repeat="l in localInfo.accomodations">
                            <p>
                                <b>{{l.name}}</b><br/>
                                <span>{{l.address}}</span>
                            </p>
                            <p>
                                <a ng-if="l.website" ng-href="{{l.website}}" target="_blank" class="local-info-link fa fa-link fa-lg"></a>
                                <a ng-if="l.map" ng-href="{{l.map}}" target="_blank" class="local-info-link fa fa-map-marker fa-lg"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row match-my-cols" scroll-reveal>
            <div class="col-sm-6 section-top-padder">
                <div class="rounded-panel">
                    <i class="fa fa-train fa-lg"></i>
                    <h3 class="header-divider">Ground Transport</h3>
                    <p class="local-info-description">It is very easy to get around by train in Switzerland. Individual tickets can be purchased on most trains, or a Swiss Rail/Travel Pass can be purchased in advance.</p>
                    <div class="row">
                        <div class="local-info col-md-6" ng-repeat="l in localInfo.transportation">
                            <p>
                                <b>{{l.name}}</b><br/>
                                <span>{{l.description}}</span>
                            </p>
                            <p>
                                <a ng-if="l.website" ng-href="{{l.website}}" target="_blank" class="local-info-link fa fa-link fa-lg"></a>
                                <a ng-if="l.phone" ng-href="{{l.phone}}" target="_blank" class="local-info-link fa fa-phone fa-lg"></a>
                                <a ng-if="l.email" ng-href="{{l.email}}" target="_blank" class="local-info-link fa fa-envelope fa-lg"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 section-top-padder">
                <div class="rounded-panel">
                    <i class="fa fa-plane fa-lg"></i>
                    <h3 class="header-divider">International Flights</h3>
                    <p>There is a small airport in Interlaken as well as several large airports in nearby cities. <a href="https://www.rome2rio.com/s/Nearby-Airports/Interlaken-Switzerland" target="_blank">Click here</a> to see the closest options. No visa is required for a stay of less than 90 days in Switzerland. Passports must be valid for 6 months beyond your arrival date. No immunizations are required for travel.</p>
                    <div class="local-info col-xs-6" ng-repeat="l in localInfo.flying">
                        <p>
                            <b>{{l.name}}</b><br/>
                            <span>{{l.code}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- Interlaken 2 -->
    <section class="large-top-padder" style="padding-bottom:0">
        <div class="banner-image half-height large-top-padder" style="background-image:url(img/swiss-city.jpg)"></div>
    </section>
</div>
<footer class="footer">
    <h3><i class="fa fa-envelope fa-xl"></i> <a href="mailto:wedding@sarahanderik.ch">wedding@sarahanderik.ch</a></h3>
</footer>